<div>

  <style type="text/golf">
    .component {
      font-family: sans-serif;
      position: relative;
      margin: 0 auto;
      width: 960px;
    }
    .left {
      float: left;
      width: 260px;
    }
    .right {
      float: left;
      width: 700px;
    }
    .twitter_component ul {
      list-style-type: none;
      border-left: 2px solid #aaa;
    }
      .twitter_component ul li {
        padding: 0.5em;
      }
      .twitter_component ul li:even {
        background: #eee;
      }
    .extra {
      margin-left: 2em;
    }
  </style>

  <script type="text/golf">
    function() {
      var searched = [], ec = encodeURIComponent, 
          text = $("input[name='username']");

      this.search = function(search) {
        $("form").submit(function(){
          $.golf.location("/search/"+ec(text.val())+"/");
          return false;
        });

        $(".twitter_component").empty().tweet({
          loading_text: "Loading...",
          username: ec(search),
          count: 30
        });

        if ($.inArray(search, searched) < 0) {
          $(".searched ul").prepend(
            "<li><a href='#/search/"+ec(search)+"/'>"+search+"</a></li>");
          searched.push(search);
        }

        document.title = "Twitter Search | " + search;
        text.val(search).select();
      };
    }
  </script>

  <div class="left">
    <h3>Twitter Search</h3>
    <form>
      <input type="text" name="username" />
      <input type="submit" value="search" />
    </form>

    <div class="searched">
      <h4>Previous Searches</h4>
      <ul></ul>
    </div>
  </div>

  <div class="right">
    <h3>Results<a class="extra" 
        href="http://golf.github.com/examples/twitter-client/">source</a></h3>
    <div class="twitter_component"></div>
  </div>

  <!-- Google Analytics -->
  <script type="text/javascript">
  var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
  document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  </script>

  <script type="text/javascript">
  try {
  var pageTracker = _gat._getTracker("UA-8437802-6");
  pageTracker._trackPageview();
  } catch(err) {}</script>
</div>
